<div class="col-12 box-details">
    <div class="content">
        <div class="title">
            诗歌鉴赏太难？不如来写故事
        </div>
        <div class="time">
            <span class="glyphicon glyphicon-time text-dark"></span>&nbsp;<span id="time">2020-6-16</span>
        </div>
        <div class="abstract">
            语文考试中，作文是半壁江山，诗歌鉴赏和阅读理解所占的分量也不轻，但是如果一味地只教给孩子诗歌鉴赏的答题套路而不引发孩子学习诗歌的兴趣，那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美,那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美。
        </div>
        <div class="more">查看详情》</div>
    </div>
    <div class="img">
        <img src="__STATIC__/index/images/aboutUs/3.jpg" class="img-fluid">
    </div>
</div>
<div class="col-12 box-details">
    <div class="content">
        <div class="title">
            诗歌鉴赏太难？不如来写故事
        </div>
        <div class="time">
            <span class="glyphicon glyphicon-time text-dark"></span>&nbsp;<span id="time">2020-6-16</span>
        </div>
        <div class="abstract">
            语文考试中，作文是半壁江山，诗歌鉴赏和阅读理解所占的分量也不轻，但是如果一味地只教给孩子诗歌鉴赏的答题套路而不引发孩子学习诗歌的兴趣，那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美,那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美。
        </div>
        <div class="more">查看详情》</div>
    </div>
    <div class="img">
        <img src="__STATIC__/index/images/aboutUs/3.jpg" class="img-fluid">
    </div>
</div>
<div class="col-12 box-details">
    <div class="content">
        <div class="title">
            诗歌鉴赏太难？不如来写故事
        </div>
        <div class="time">
            <span class="glyphicon glyphicon-time text-dark"></span>&nbsp;<span id="time">2020-6-16</span>
        </div>
        <div class="abstract">
            语文考试中，作文是半壁江山，诗歌鉴赏和阅读理解所占的分量也不轻，但是如果一味地只教给孩子诗歌鉴赏的答题套路而不引发孩子学习诗歌的兴趣，那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美,那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美。
        </div>
        <div class="more">查看详情》</div>
    </div>
    <div class="img">
        <img src="__STATIC__/index/images/aboutUs/3.jpg" class="img-fluid">
    </div>
</div>
<div class="col-12 box-details">
    <div class="content">
        <div class="title">
            诗歌鉴赏太难？不如来写故事
        </div>
        <div class="time">
            <span class="glyphicon glyphicon-time text-dark"></span>&nbsp;<span id="time">2020-6-16</span>
        </div>
        <div class="abstract">
            语文考试中，作文是半壁江山，诗歌鉴赏和阅读理解所占的分量也不轻，但是如果一味地只教给孩子诗歌鉴赏的答题套路而不引发孩子学习诗歌的兴趣，那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美,那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美。
        </div>
        <div class="more">查看详情》</div>
    </div>
    <div class="img">
        <img src="__STATIC__/index/images/aboutUs/3.jpg" class="img-fluid">
    </div>
</div>
<div class="col-12 box-details">
    <div class="content">
        <div class="title">
            诗歌鉴赏太难？不如来写故事
        </div>
        <div class="time">
            <span class="glyphicon glyphicon-time text-dark"></span>&nbsp;<span id="time">2020-6-16</span>
        </div>
        <div class="abstract">
            语文考试中，作文是半壁江山，诗歌鉴赏和阅读理解所占的分量也不轻，但是如果一味地只教给孩子诗歌鉴赏的答题套路而不引发孩子学习诗歌的兴趣，那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美,那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美。
        </div>
        <div class="more">查看详情》</div>
    </div>
    <div class="img">
        <img src="__STATIC__/index/images/aboutUs/3.jpg" class="img-fluid">
    </div>
</div>
<div class="col-12 box-details">
    <div class="content">
        <div class="title">
            诗歌鉴赏太难？不如来写故事
        </div>
        <div class="time">
            <span class="glyphicon glyphicon-time text-dark"></span>&nbsp;<span id="time">2020-6-16</span>
        </div>
        <div class="abstract">
            语文考试中，作文是半壁江山，诗歌鉴赏和阅读理解所占的分量也不轻，但是如果一味地只教给孩子诗歌鉴赏的答题套路而不引发孩子学习诗歌的兴趣，那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美,那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美。
        </div>
        <div class="more">查看详情》</div>
    </div>
    <div class="img">
        <img src="__STATIC__/index/images/aboutUs/3.jpg" class="img-fluid">
    </div>
</div>
<div class="col-12 box-details">
    <div class="content">
        <div class="title">
            诗歌鉴赏太难？不如来写故事
        </div>
        <div class="time">
            <span class="glyphicon glyphicon-time text-dark"></span>&nbsp;<span id="time">2020-6-16</span>
        </div>
        <div class="abstract">
            语文考试中，作文是半壁江山，诗歌鉴赏和阅读理解所占的分量也不轻，但是如果一味地只教给孩子诗歌鉴赏的答题套路而不引发孩子学习诗歌的兴趣，那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美,那么其实就有点本末倒置了，毕竟诗歌鉴赏存在的目的本该是让孩子感受到古人笔下作品的美。
        </div>
        <div class="more">查看详情》</div>
    </div>
    <div class="img">
        <img src="__STATIC__/index/images/aboutUs/3.jpg" class="img-fluid">
    </div>
</div>
<div class="col-12">
    <div class="page">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </div>
</div>
<script>
    $(".pagination a").click(function () {
        var url = $(this).attr('href');
        $.ajax({
            'type': 'get',
            'url': url,
            succes: function (data) {
                $('#newsTable').html(data);
            }
        })
        return false;
    });
</script>