<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>全国同步课程</title>
    <script src="__LIB__/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__LIB__/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="__LIB__/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/header.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/footer.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/course.css">
</head>

<body>
    <!-- 头部 -->
    {include file="base/header"}
    <div class="course-title">
        <img src="__STATIC__/index/images/course-title.png" class="img-fluid">
    </div>
    <div class="course-box">
        <div class="container">
            <div class="row edition">
                <div class="col-2 nav-title clear-padding-row">教材版本：</div>
                <div class="col-10">
                    <dl class="active">人教版</dl>
                    <dl>沪科版</dl>
                    <dl>鲁教版</dl>
                    <dl>星球版</dl>
                    <dl>人教版</dl>
                    <dl>沪科版</dl>
                    <dl>鲁教版</dl>
                    <dl>星球版</dl>
                    <dl>人教版</dl>
                    <dl>沪科版</dl>
                    <dl>鲁教版</dl>
                    <dl>星球版</dl>
                    <dl>人教版</dl>
                    <dl>沪科版</dl>
                    <dl>鲁教版</dl>
                    <dl>星球版</dl>
                    <dl>人教版</dl>
                    <dl>沪科版</dl>
                    <dl>鲁教版</dl>
                    <dl>星球版</dl>
                    <dl>人教版</dl>
                    <dl>沪科版</dl>
                    <dl>鲁教版</dl>
                    <dl>星球版</dl>
                </div>
            </div>
            <div class="row grade">
                <div class="col-2 nav-title clear-padding-row">年级：</div>
                <div class="col-10">
                    <dl class="active">一年级</dl>
                    <dl>二年级</dl>
                    <dl>三年级</dl>
                </div>
            </div>
            <div class="row subject">
                <div class="col-2 nav-title clear-padding-row">科目：</div>
                <div class="col-10">
                    <dl class="active">语文</dl>
                    <dl>数学</dl>
                    <dl>英语</dl>
                    <dl>物理</dl>
                    <dl>化学</dl>
                    <dl>政治</dl>
                    <dl>历史</dl>
                </div>
            </div>
            <div class="row subType">
                <div class="col-2 nav-title clear-padding-row">学期：</div>
                <div class="col-10">
                    <dl class="active">上学期</dl>
                    <dl>下学期</dl>
                    <dl>全一册</dl>
                </div>
            </div>
            <div class="row order">
                <div class="col-2 nav-title clear-padding-row">排序：</div>
                <div class="col-10">
                    <div class="order-by">发布时间<span class="glyphicon glyphicon-chevron-down"></span></div>
                    <div class="order-by">课程名称<span class="glyphicon glyphicon-chevron-down"></span></div>
                </div>
            </div>
            <div class="row chapter">
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="card lx">
                        <img class="card-img-top" src="__STATIC__/index/images/teacher/wmj.jpg" alt="王梦洁"
                             style="width:100%">
                        <div class="card-body clear-padding-row">
                            <span class="ctag">一年级语文</span>
                            <div class="details">
                                近年来致力于分析研究云南省化学中考试题以及不同教学方法。
                                教学中注重提升学生的学习兴趣，提倡因材施教。
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    {include file="base/footer"}
</body>

</html>