<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="{:url('index/index')}">
                    <div class="fot-box {if($footActive=='index')}active{/if}">
                        <i class="iconfont icon-shouye"></i>
                        <span>首页</span>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="{:url('exam/index')}">
                    <div class="fot-box {if($footActive=='exam')}active{/if}">
                        <i class="iconfont icon-xitiku"></i>
                        <span>习题库</span>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="{:url('news/index')}">
                    <div class="fot-box {if($footActive=='news')}active{/if}">
                        <i class="iconfont icon-zixun"></i>
                        <span>资讯</span>
                    </div>
                </a>
            </div>
            <div class="col-3">
                <a href="{:url('member/index')}">
                    <div class="fot-box {if($footActive=='my')}active{/if}">
                        <i class="iconfont icon-gerenzhongxin"></i>
                        <span>我的</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>