<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>新闻资讯</title>
    <script src="__LIB__/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__LIB__/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="__LIB__/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/header.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/us.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/footer.css">
</head>

<body>
<!-- 头部 -->
{include file="base/header"}
<div class="top-title">
    <img src="__STATIC__/index/images/us-title.png" class="img-fluid">
</div>
<div class="us-box">
   <div class="container">
        <div class="row">
            <div class="col content">
                深圳勤藤教育科技有限公司成立于2017年，经过两年多的前期筹备与调研，现已将各省优质教育资源做了整合。“互联网+教育”的项目即将开花结果。在2019年8月通过资本运作，正式获得深圳新四板股权，<strong class="text-success">股票代码：681478</strong>。
                本公司与其他互联网教育不同之处在于我们有区域划分以及非常了解该区域的教育资源、课程、考试的导向。所有我们以省份为划分单位，在各不同的省内建立教育学习题库，以及聘请该省内首屈一指的离退休教师作为习题顾问，为我们建立不同于课堂的教学题库，我们敢于直面挑战学生考试分数。
                <br/><br/><strong>联系电话：400-675-9062</strong><br/>
                <br/><strong>邮箱：qzt991@126.com</strong>
            </div>
        </div>
       <div class="row">
           <div class="col">
               <div class="title">——多家权威媒体联合报道——</div>
           </div>
       </div>
       <div class="row bg">
           <div class="col">
               <img src="__STATIC__/index/images/us/1.jpg" class="img-fluid">
           </div>
           <div class="col">
               <img src="__STATIC__/index/images/us/2.jpg" class="img-fluid">
           </div>
           <div class="col">
               <img src="__STATIC__/index/images/us/3.jpg" class="img-fluid">
           </div>
       </div>
       <div class="row">
           <div class="col">
               <div class="title">——2019年10月30日在深圳新四板上市——</div>
           </div>
       </div>
       <div class="row">
           <div class="col">
               <img src="__STATIC__/index/images/us/4.jpg" class="img-fluid">
           </div>
           <div class="col">
               <img src="__STATIC__/index/images/us/5.jpg" class="img-fluid">
           </div>
           <div class="col">
               <img src="__STATIC__/index/images/us/6.jpg" class="img-fluid">
           </div>
       </div>
   </div>
</div>
<!-- 底部 -->
{include file="base/footer"}

</body>

</html>