<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <script src="__LIB__/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__LIB__/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="__LIB__/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__STATIC__/index/css/member/course.css">
</head>

<body>
    <div class="course-title">
        我的课程
    </div>
    <hr>
    <div class="container" style="margin-bottom: 80px">
        <div class="row">
            {volist name="book" id="vo"}
                <div class="col-6 c-book">
                    <img src="{$vo.url}" class="img-fluid">
                </div>
            {/volist}
        </div>
    </div>
</body>

</html>