<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">分册名称</label>
            <div class="layui-input-block">
                <input name="name" required value='{$vo.name|default=""}' placeholder="请输入分册名称" class="layui-input">
            </div>
        </div>
        {notempty name='vo.id'}
        <div class="layui-form-item">
            <label class="layui-form-label">请选择学段</label>
            <div class="layui-input-block">
                {volist name = 'stage' id="vo"}
                    <input type="checkbox" lay-filter="stage" value="{$vo.id}" name="stage[]" title="{$vo.name}">
                {/volist}
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">科目</label>
            <div class="layui-input-block" id="subject">

            </div>
        </div>
        <input type='hidden' value='{$vo.id}' name='id'>
        {/notempty}
    </div>

    <div class="hr-line-dashed"></div>


    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>

<script>
    layui.use('form', function(){
        var form = layui.form;
        form.render()
        form.on('checkbox(stage)', function(data){
            // console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            $.ajax({
                type: 'get',
                url: '{:url("term/getSubject")}',
                data: {stage:data.value},
                dataType: 'json',
                success: function (response) {
                    let code = response.code
                    let msg = response.msg
                    let data = response.data
                    let html = '<input type="checkbox" value="0" name="Sid[]" title="全科">'
                    for(i in data){
                        var obj = data[i];
                        html += '<input type="checkbox" value="'+obj.id+'" name="Sid[]" title="'+obj.name+'">'
                    }
                    $('#subject').append(html)
                    form.render()
                }
            })
        });

    });
</script>
