<form onsubmit="return false;" action="{:request()->url()}" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">科目名称</label>
            <div class="layui-input-block">
                <input name="name" required value='{$subject.name|default=""}' placeholder="请输入科目名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">学段</label>
            <div class="layui-input-block" id="stage">
                {volist name="stage" id="st"}
                <input type="checkbox" name="stage[]" value="{$st.id}" title="{$st.name}">
                {/volist}
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block" id="grade">
                <input type="checkbox" name="grade[]" value="0" lay-skin="primary" title="全年级">
                {volist name="grade" id="gr"}
                <input type="checkbox" name="grade[]" value="{$gr.id}" lay-skin="primary" title="{$gr.name}">
                {/volist}
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='subject.id'}<input type='hidden' value='{$subject.id}' name='id' id="id">{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" lay-submit="" lay-filter="subject">保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>

    <script>
        layui.use(['form','table'], function(){
            var form = layui.form
            form.render()
        })
    </script>
</form>
