<form onsubmit="return false;" action="{:request()->url()}" lay-filter="form" data-auto="true" method="post" class='layui-form layui-card' autocomplete="off">

    <div class="layui-card-body">

        <div class="layui-form-item">
            <label class="layui-form-label">试卷名称</label>
            <div class="layui-input-block">
                <input name="name" value='{$vo.name|default=""}' placeholder="试卷名称" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">习题ID</label>
            <div class="layui-input-block">
                <input name="exercises" value='{$vo.exercises|default=""}' placeholder="习题ID" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">金额</label>
            <div class="layui-input-block">
                <input name="money" value='{$vo.money|default=""}' placeholder="金额" class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">分值</label>
            <div class="layui-input-block">
                <input name="score" value='{$vo.score|default=""}' placeholder="分值" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">数量</label>
            <div class="layui-input-block">
                <input name="number" value='{$vo.number|default=""}' placeholder="数量" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">教材版本</label>
            <div class="layui-input-block">
                <select name="version" required id="version-form" lay-filter="version">
                    <option value="">请选择学段</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">学段</label>
            <div class="layui-input-block">
                <select name="stage" required id="stage-form" lay-filter="stage">
                    <option value="">请选择学段</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">年级</label>
            <div class="layui-input-block">
                <select name="grade" required id="grade-form" lay-filter="grade">
                    <option value="{$vo.grade|default=''}">请选择年级</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">科目</label>
            <div class="layui-input-block">
                <select name="subject" required id="subject-form" lay-filter="subject">
                    <option value="{$vo.subject|default=''}">请选择科目</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">分册</label>
            <div class="layui-input-block">
                <select name="term" required id="term-form" lay-filter="term">
                    <option value="{$vo.term|default=''}">请选择分册</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">章节</label>
            <div class="layui-input-block">
                <select name="chapter" required id="chapter-form" lay-filter="chapter">
                    <option value="{$vo.chapter|default=''}">请选择章节</option>
                </select>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.id'}<input type='hidden' id="vID" value='{$vo.id}' name='id'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit' lay-submit="" lay-filter="submit">保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
</form>



<script>
    layui.use(['form'], function(){
        var form = layui.form

        form.render()
        // 初始化
        $(function () {
            //获取教材版本
            $.ajax({
                type: 'get',
                url: '{:url("chapter/getVersion")}',
                data: {},
                dataType: 'json',
                success: function (responce) {
                    let code = responce.code
                    let msg = responce.msg
                    let html = '<option value="">请选择教材版本</option>'
                    if(code == 200){
                        for(let i in responce.data){
                            let obj = responce.data[i]
                            html += '<option value="'+obj.id+'">'+obj.name+'</option>'
                        }
                        // console.log(html)
                        $('#version-form').html(html)
                        
                        //设置选择值
                        $('#version-form option').each(function () {
                            var val = $(this).val();
                            let isSelect = '{$vo.version}'
                            // console.log(isSelect)
                            if(val == isSelect){
                                $(this).attr("selected", true);
                            }
                        })

                        form.render('select')
                    }else {
                        layer.msg(msg, {icon: 5})
                    }
                }
            })

            //获取学段
            $.ajax({
                type: 'get',
                url: '{:url("chapter/getStage")}',
                data: {},
                dataType: 'json',
                success: function (responce) {
                    let code = responce.code
                    let msg = responce.msg
                    let html = '<option value="">请选择学段</option>'
                    if(code == 200){
                        for(let i in responce.data){
                            let obj = responce.data[i]
                            html += '<option value="'+obj.id+'">'+obj.name+'</option>'
                        }
                        $('#stage-form').html(html)

                        //设置选择值
                        $('#stage-form option').each(function () {
                            var val = $(this).val();
                            let isSelect = '{$vo.stage}'
                            // console.log(isSelect)
                            if(val == isSelect){
                                $(this).attr("selected", true);
                            }
                        })
                        
                        form.render('select')
                    }else {
                        layer.msg(msg, {icon: 5})
                    }
                }
            })

        })

        //获取年级信息
        form.on('select(stage)', function (data) {
            // console.log(data.value); //得到被选中的值
            $.ajax({
                type: 'get',
                url: '{:url("chapter/getGrade")}',
                data: {stage:data.value},
                dataType: 'json',
                success: function (responce) {
                    let code = responce.code
                    let msg = responce.msg
                    let html = '<option value="">请选择年级</option>'
                    if(code == 200){
                        for(let i in responce.data){
                            let obj = responce.data[i]
                            html += '<option value="'+obj.id+'">'+obj.name+'</option>'
                        }
                        $('#grade-form').html(html)

                        //设置选择值
                        $('#grade-form option').each(function () {
                            var val = $(this).val();
                            let isSelect = '{$vo.grade}'
                            // console.log(isSelect)
                            if(val == isSelect){
                                $(this).attr("selected", true);
                            }
                        })
                        
                        form.render('select')
                    }else {
                        layer.msg(msg, {icon: 5})
                    }
                }
            })

            //获取分册信息
            $.ajax({
                type: 'get',
                url: '{:url("chapter/getTerm")}',
                data: {stage:data.value},
                dataType: 'json',
                success: function (responce) {
                    let code = responce.code
                    let msg = responce.msg
                    // console.log(responce)
                    let html = '<option value="">请选择分册</option>'
                    if(code == 200){
                        for(let i in responce.data){
                            let obj = responce.data[i]
                            html += '<option value="'+obj.id+'">'+obj.name+'</option>'
                        }
                        $('#term-form').html(html)

                        //设置选择值
                        $('#term-form option').each(function () {
                            var val = $(this).val();
                            let isSelect = '{$vo.term}'
                            // console.log(isSelect)
                            if(val == isSelect){
                                $(this).attr("selected", true);
                            }
                        })

                        form.render('select')
                    }else {
                        layer.msg(msg, {icon: 5})
                    }
                }
            })
        })

        //获取科目信息
        form.on('select(grade)', function (data) {
            // console.log(data.value); //得到被选中的值
            $.ajax({
                type: 'get',
                url: '{:url("chapter/getSubject")}',
                data: {grade:data.value},
                dataType: 'json',
                success: function (responce) {
                    let code = responce.code
                    let msg = responce.msg
                    let html = '<option value="">请选择科目</option>'
                    if(code == 200){
                        for(let i in responce.data){
                            let obj = responce.data[i]
                            html += '<option value="'+obj.id+'">'+obj.name+'</option>'
                        }
                        $('#subject-form').html(html)

                        //设置选择值
                        $('#subject-form option').each(function () {
                            var val = $(this).val();
                            let isSelect = '{$vo.subject}'
                            // console.log(isSelect)
                            if(val == isSelect){
                                $(this).attr("selected", true);
                            }
                        })
                        
                        form.render('select')
                    }else {
                        layer.msg(msg, {icon: 5})
                    }
                }
            })
        })

        //获取章节信息
        form.on('select(term)', function (data) {
            // console.log(data.value); //得到被选中的值
            let version = $('#version-form').val();
            let stage =  $('#stage-form').val();
            let grade =  $('#grade-form').val();
            let subject =  $('#subject-form').val();
            let term =  data.value
            $.ajax({
                type: 'get',
                url: '{:url("chapter/getChapter")}',
                data: {version:version,stage:stage,grade:grade,subject:subject,term:term},
                dataType: 'json',
                success: function (responce) {
                    let code = responce.code
                    let msg = responce.msg
                    let html = '<option value="">请选择章节</option>'
                    if(code == 200){
                        for(let i in responce.data){
                            let obj = responce.data[i]
                            html += '<option value="'+obj.id+'">'+obj.name+'</option>'
                        }
                        $('#chapter-form').html(html)

                        //设置选择值
                        $('#chapter-form option').each(function () {
                            var val = $(this).val();
                            let isSelect = '{$vo.chapter}'
                            // console.log(isSelect)
                            if(val == isSelect){
                                $(this).attr("selected", true);
                            }
                        })
                        
                        form.render('select')
                    }else {
                        layer.msg(msg, {icon: 5})
                    }
                }
            })
        })

        //点击提交
        form.on('submit(submit)', function(data){
            let formData = data.field
            $('#title').val(layedit.getContent(titleIndex));
            $('#A').val(layedit.getContent(AIndex));
            $('#B').val(layedit.getContent(BIndex));
            $('#C').val(layedit.getContent(CIndex));
            $('#D').val(layedit.getContent(DIndex));
            $('#remake').val(layedit.getContent(remakeIndex));

            return true; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

    })

</script>
